body {
    background-color: rgb(255, 255, 255);
}

.JS-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.JS-container img {
    display: inline-block;
    width: 100px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}