body {
    background-color: rgb(255, 255, 255);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(51, 51, 51);
}

header div {
    display: inline-block;
}

.JS-container img {
    display: inline-block;
    width: 100px;
    padding: 25px;
}

.sections .word-container {
    display: inline-block;
    width: 200px;
    text-align: center;
    font: small-caps bold 30px/1.5 "Helvetice Neue", sans-serif;
}

.letter {
    display: inline-block;
    /* width: 1ch; */
    margin: -4.5px;
    font: bold 35px/1.5 "Helvetica Neue", sans-serif;
    text-transform: lowercase;
}

.letter:hover { 
    text-transform: uppercase;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    text-align: center;
}

img {
    padding: 30px;
}